extends template.pug

mixin createArticle(newsData)
    each item in newsData 
        div.article
            h3= item.title
            p= item.text 

block variables 
    -var stylesheet="/css/news.css"
    -var pageTitle = 'Новости в России'
    -var newsData = [{'title' : 'Месячная норма осадков перевыполнена в Коломне за сутки','text': '«Подмосковная Коломна удивила метеорологов: за 2 ноября в городе выпало 42 мм осадков, что составило 102% месячной нормы. И это стало новым суточным рекордом по осадкам для этой даты. До этого самые большие за сутки осадки, 19,5 мм, наблюдались в 1970 году. Много дождя выпало 2 ноября и в Черустях — 33 мм,что тоже стало рекордом. Причиной столь ненастной погоды стал активный атмосферный фронт с волнами, который обострился над востоком и юго-востоком Московской области», — написала Позднякова.Она добавила, что в пятницу, 3 ноября, эти населенные пункты будут отдыхать от дождей.'}]

block main_content 
    div.news
        +createArticle(newsData)
        +createArticle(newsData)
        +createArticle(newsData)