@import template

size = 10px

.article 
    display: block
    background: rgb(240, 240, 240)
    border 1px solid grey
    margin: size
    padding: size

.article > h3 
    text-align: center  
    