@import template

h1 
    text-align: center
   
details 
      width 50%
      margin 1%
     

details.content__graph
  margin 1% 0 0 5%
  padding 1%

  form
    margin 0 20% 0 5%
    padding 1%
    column-gap: 1vw
    background-color: #F5EBE1


details.content__sort
  margin 0 20% 0 5%
  padding 1%
  form
    margin 0 20% 0 5%
    padding 1%
    background-color: #F5EBE1
    column-gap: 1vw


details.content__filter
  margin 0 20% 0 5%
  padding 1%
  form
    margin 0 20% 0 5%
    padding 1%
    background-color: #F5EBE1
    column-gap: 1vw





table 
    width: 60%
    margin: 0 auto
    border: 2px solid #808080
    border-collapse: collapse


th, td 
    border: 2px solid #808080
    padding: 5px
    text-align: center

.content-graph,.content-filter,.content-sort ,.content-tab
    display: flex
    margin: 1%    

  
@media(max-width: 600px)
    details 
        width: auto

    table 
        width: 30%
        font-size: 10px